@font-face {
  font-family: 'gothambold';
  src: url("../fonts/gothambold-webfont.eot");
  src: url("../fonts/gothambold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gothambold-webfont.woff2") format("woff2"), url("../fonts/gothambold-webfont.woff") format("woff"), url("../fonts/gothambold-webfont.svg#gothambold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'gothambook';
  src: url("../fonts/gothambook-webfont.eot");
  src: url("../fonts/gothambook-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gothambook-webfont.woff2") format("woff2"), url("../fonts/gothambook-webfont.woff") format("woff"), url("../fonts/gothambook-webfont.svg#gothambook") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/open-sans.regular-webfont.eot");
  src: url("../fonts/open-sans.regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans.regular-webfont.woff2") format("woff2"), url("../fonts/open-sans.regular-webfont.woff") format("woff"), url("../fonts/open-sans.regular-webfont.svg#open_sansregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.general-title {
  font-family: "gothambold";
  font-weight: 700;
  font-size: 44px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
  margin: 140px 0 100px;
  position: relative;
}

.general-title::before {
  content: '';
  height: 2px;
  width: 100px;
  background: #2c4058;
  position: absolute;
  top: -40px;
  left: 46%;
}

@media screen and (max-width: 568px) {
  .general-title::before {
    left: 43%;
  }
}

.general-btn {
  font-family: "gothambook";
  font-weight: 400;
  font-size: 14px;
  color: #2c4058;
  text-transform: uppercase;
  border: 1px solid #2c4058;
  padding: 20px 45px;
  background: none;
}

.app-header {
  background: url("../img/header/bg_header.png"), no-repeat;
  background-size: cover;
  background-position: center;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
}

@media screen and (max-width: 568px) {
  .nav {
    padding: 10px 0;
  }
}

.nav-logo {
  margin-right: 50px;
}

@media screen and (max-width: 960px) {
  .nav-logo {
    margin: 0;
  }
}

@media screen and (max-width: 568px) {
  .nav-logo {
    width: 145px;
    height: auto;
  }
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 960px) {
  .nav-list {
    display: none;
  }
}

.nav-list__item {
  padding: 5px;
  width: 100%;
}

.nav-list__link {
  font-family: "gothambook";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.nav-list__link::before {
  content: url("../img/header/Ellipse1.png");
  margin: 0 10px;
}

.nav-list__link:hover::before {
  content: url("../img/header/Ellipse_fill.png");
}

@media screen and (max-width: 960px) {
  .nav-list__link {
    width: 100%;
    display: block;
    padding: 30px;
  }
}

.nav-social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  margin-left: 30px;
}

.nav-social__item {
  border: 1px solid #b29cff;
  padding: 10px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.nav-social__item:hover {
  background: #ffffff;
  color: #b29cff;
}

.nav-social__link {
  color: #ffffff;
  font-size: 16px;
}

.nav-btn {
  display: none;
  border: none;
  font-size: 30px;
  background: #5585a2;
  color: #ffffff;
  text-align: center;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
  width: 42px;
  height: 42px;
}

@media screen and (max-width: 960px) {
  .nav-btn {
    display: grid;
    grid-row-start: 1;
    grid-column-start: 3;
    justify-self: flex-end;
  }
}

.active {
  display: grid;
  position: fixed;
  right: 0;
  top: 56px;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  align-items: flex-end;
  background: #7f64fb;
}

.header-title {
  font-family: "gothambold";
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 4px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 250px 0 30px;
}

@media screen and (max-width: 568px) {
  .header-title {
    font-size: 50px;
    margin: 100px 0 30px;
  }
}

.header-subtitle {
  font-family: "gothambook";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 5px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 310px;
}

.project {
  display: flex;
  margin-bottom: 140px;
}

.project--second {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1140px) {
  .project {
    margin: 0 20px 140px;
  }
}

@media screen and (max-width: 568px) {
  .project {
    flex-direction: column;
    margin: 0 20px 40px;
  }
}

.project__back-img {
  position: absolute;
  left: 0;
  z-index: -1;
}

.project__back-img--second {
  position: absolute;
  right: 0;
  left: auto;
}

@media screen and (max-width: 1140px) {
  .project__back-img {
    width: 35%;
    height: 50%;
  }
}

@media screen and (max-width: 568px) {
  .project__back-img {
    display: none;
  }
}

.project__front-img {
  margin-top: 70px;
}

@media screen and (max-width: 1140px) {
  .project__front-img {
    width: 40%;
    height: 100%;
  }
}

@media screen and (max-width: 568px) {
  .project__front-img {
    width: 100%;
    margin-top: 20px;
  }
}

.project__info {
  margin: 130px 0 0 70px;
}

.project__info-subtitle {
  font-family: "gothambook";
  font-weight: 400;
  font-size: 22px;
  color: #2c4058;
  text-transform: uppercase;
}

.project__info-title {
  font-family: "gothambold";
  font-weight: 700;
  font-size: 44px;
  color: #2c4058;
  text-transform: uppercase;
}

.project__info-discr {
  font-family: "open_sansregular";
  font-weight: 400;
  font-size: 18px;
  color: #4b5562;
  line-height: 30px;
  margin: 35px 0;
}

.project__info-address {
  font-family: "open_sansregular";
  font-weight: 400;
  font-size: 18px;
  color: #2c4058;
  margin-top: 55px;
}

.project__info--second {
  margin: 130px 0;
}

@media screen and (max-width: 568px) {
  .project__info {
    margin: 100px 0 0 0;
  }
}
/*# sourceMappingURL=style.css.map */