@charset "UTF-8";
@font-face {
  font-family: 'gothambold';
  src: url("../fonts/gothambold-webfont.eot");
  src: url("../fonts/gothambold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gothambold-webfont.woff2") format("woff2"), url("../fonts/gothambold-webfont.woff") format("woff"), url("../fonts/gothambold-webfont.svg#gothambold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'gothambook';
  src: url("../fonts/gothambook-webfont.eot");
  src: url("../fonts/gothambook-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gothambook-webfont.woff2") format("woff2"), url("../fonts/gothambook-webfont.woff") format("woff"), url("../fonts/gothambook-webfont.svg#gothambook") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/open-sans.regular-webfont.eot");
  src: url("../fonts/open-sans.regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans.regular-webfont.woff2") format("woff2"), url("../fonts/open-sans.regular-webfont.woff") format("woff"), url("../fonts/open-sans.regular-webfont.svg#open_sansregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.general-title {
  font-family: "gothambold";
  font-weight: 700;
  font-size: 44px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
  margin: 140px 0 100px;
  position: relative;
}

.general-title::before {
  content: '';
  height: 1px;
  width: 10%;
  background: #2c4058;
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -5%;
}

.general-btn {
  font-family: "gothambook";
  font-weight: 400;
  font-size: 14px;
  color: #2c4058;
  text-transform: uppercase;
  border: 1px solid #2c4058;
  padding: 20px 45px;
  background: none;
}

.app-header {
  background: url("../img/header/bg_header.png"), no-repeat;
  background-size: cover;
  background-position: center;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
}

@media screen and (max-width: 568px) {
  .nav {
    padding: 10px 0;
  }
}

.nav-logo {
  margin-right: 50px;
}

@media screen and (max-width: 960px) {
  .nav-logo {
    margin: 0;
  }
}

@media screen and (max-width: 568px) {
  .nav-logo {
    width: 145px;
    height: auto;
  }
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 960px) {
  .nav-list {
    display: none;
  }
}

.nav-list__item {
  padding: 5px;
  width: 100%;
}

.nav-list__link {
  font-family: "gothambook";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.nav-list__link::before {
  content: url("../img/header/Ellipse1.png");
  margin: 0 10px;
}

.nav-list__link:hover::before {
  content: url("../img/header/Ellipse_fill.png");
}

@media screen and (max-width: 960px) {
  .nav-list__link {
    width: 100%;
    display: block;
    padding: 30px;
  }
}

.nav-social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  margin-left: 30px;
}

.nav-social__item {
  border: 1px solid #b29cff;
  padding: 10px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.nav-social__item:hover {
  background: #ffffff;
  color: #b29cff;
}

.nav-social__link {
  color: #ffffff;
  font-size: 16px;
}

.nav-btn {
  position: fixed;
  right: 0;
  display: none;
  border: none;
  font-size: 30px;
  background: #7f64fb;
  color: #ffffff;
  text-align: center;
  width: 42px;
  height: 42px;
  z-index: 100;
}

.nav-btn:active {
  background: #ffffff;
  color: #b29cff;
  transition-timing-function: 10s;
}

@media screen and (max-width: 960px) {
  .nav-btn {
    display: grid;
    grid-row-start: 1;
    grid-column-start: 3;
    justify-self: flex-end;
  }
}

.active {
  display: grid;
  position: fixed;
  right: 0;
  top: 56px;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  align-items: flex-end;
  background: #7f64fb;
  z-index: 100;
}

.header-title {
  font-family: "gothambold";
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 4px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 250px 0 30px;
}

@media screen and (max-width: 568px) {
  .header-title {
    font-size: 50px;
    margin: 100px 0 30px;
  }
}

.header-subtitle {
  font-family: "gothambook";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 5px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 310px;
}

.project {
  display: flex;
  margin-bottom: 140px;
}

.project--second {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1140px) {
  .project {
    margin: 0 20px 140px;
  }
}

@media screen and (max-width: 568px) {
  .project {
    flex-direction: column;
    margin: 0 20px 40px;
  }
}

.project__back-img {
  position: absolute;
  left: 0;
  z-index: -1;
}

.project__back-img--second {
  position: absolute;
  right: 0;
  left: auto;
}

@media screen and (max-width: 1140px) {
  .project__back-img {
    width: 35%;
    height: 50%;
  }
}

@media screen and (max-width: 568px) {
  .project__back-img {
    display: none;
  }
}

.project__front-img {
  margin-top: 70px;
}

@media screen and (max-width: 1140px) {
  .project__front-img {
    width: 40%;
    height: 100%;
  }
}

@media screen and (max-width: 568px) {
  .project__front-img {
    width: 100%;
    margin-top: 20px;
  }
}

.project__info {
  margin: 130px 0 0 70px;
}

.project__info-subtitle {
  font-family: "gothambook";
  font-weight: 400;
  font-size: 22px;
  color: #2c4058;
  text-transform: uppercase;
}

.project__info-title {
  font-family: "gothambold";
  font-weight: 700;
  font-size: 44px;
  color: #2c4058;
  text-transform: uppercase;
}

.project__info-discr {
  font-family: "open_sansregular";
  font-weight: 400;
  font-size: 18px;
  color: #4b5562;
  line-height: 30px;
  margin: 35px 0;
}

.project__info-address {
  font-family: "open_sansregular";
  font-weight: 400;
  font-size: 18px;
  color: #2c4058;
  margin-top: 55px;
}

.project__info--second {
  margin: 130px 0;
}

@media screen and (max-width: 568px) {
  .project__info {
    margin: 100px 0 0 0;
  }
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 34%;
  z-index: 10;
  font-size: 0;
  width: 43px;
  height: 43px;
  border: none;
  margin: 0 20px;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: -96px;
  background: url("../img/news/left.png") 0 0 no-repeat;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: -72px;
  background: url("../img/news/right.png") 0 0 no-repeat;
}

/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  margin: 60px 20px;
}

/* Элемент точки */
.slick-dots button {
  font-size: 0;
  width: 11px;
  height: 11px;
  background: url("../img/news/dot.png") no-repeat;
  border: none;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background: url("../img/news/dot_active.png");
}

.news {
  background: url("../img/news/news_bg.png"), no-repeat;
  background-size: cover;
  background-position: center;
}

.news .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1320px) {
  .news .container {
    align-items: center;
  }
}

.news-title {
  color: #ffffff;
}

.news-title::before {
  background: #ffffff;
}

@media screen and (max-width: 1320px) {
  .news-title::before {
    width: 40%;
    margin-left: -20%;
  }
}

@media screen and (max-width: 1320px) {
  .news-slider {
    width: 70%;
  }
}

.article {
  width: fit-content;
  background: #ffffff;
  margin: 0 10px;
}

.article-img {
  width: 100%;
  height: auto;
}

.article-title {
  font-family: "gothambold";
  font-weight: 700;
  font-size: 22px;
  color: #2c4058;
  text-transform: uppercase;
  line-height: 34px;
  margin: 30px 70px 15px 20px;
  overflow: hidden;
  height: 60px;
}

@media screen and (max-width: 1320px) {
  .article-title {
    font-size: 18px;
  }
}

.article-discr {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  height: 62px;
  font-family: "open_sansregular";
  font-weight: 400;
  font-size: 18px;
  color: #4b5562;
  line-height: 30px;
  margin: 0 20px 35px 20px;
}

@media screen and (max-width: 1320px) {
  .article-discr {
    font-size: 14px;
  }
}

.article-author {
  margin: 0 20px 30px 20px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50% 50%;
  grid-row-start: 2;
}

.article-author__avatar {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  align-items: center;
}

.article-author__name {
  font-family: "gothambook";
  font-weight: 400;
  font-size: 18px;
  color: #2c4058;
  text-transform: uppercase;
  align-self: center;
}

@media screen and (max-width: 1320px) {
  .article-author__name {
    font-size: 14px;
  }
}

@media screen and (max-width: 568px) {
  .article-author__name {
    margin-left: 15px;
  }
}

.article-author__date {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  color: #55b7ff;
}

@media screen and (max-width: 568px) {
  .article-author__date {
    margin-left: 15px;
  }
}

.gallery .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery .container .general-btn {
  margin-bottom: 140px;
}

.gallery-title::before {
  left: 34%;
  width: 40%;
}

.gallery-content {
  display: grid;
  grid-template-columns: 50% auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1140px) {
  .gallery-content {
    margin: 0 20px 60px;
  }
}

@media screen and (max-width: 768px) {
  .gallery-content {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}

.gallery-img {
  width: 100%;
  height: auto;
}

.img1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 768px) {
  .img1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#map {
  height: 700px;
  width: 100%;
}

.contacts-info {
  width: 50%;
  position: absolute;
  bottom: -30%;
  background: #ffffff;
  padding-bottom: 80px;
}

@media screen and (max-width: 960px) {
  .contacts-info {
    width: 80%;
    bottom: -70%;
  }
}

@media screen and (max-width: 568px) {
  .contacts-info {
    width: 95%;
    bottom: -80%;
  }
}

.contacts-title {
  margin: 90px 0 60px;
}

.contacts-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 20px;
  font-family: "gothambook";
  font-weight: 400;
  font-size: 18px;
  color: #2c4058;
  line-height: 34px;
  margin: 0 60px;
}

@media screen and (max-width: 960px) {
  .contacts-text {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }
}

.contacts-text__link {
  color: #2c4058;
}

.contacts-text__address {
  font-style: inherit;
}

.contacts-icon {
  color: #7e5aff;
}

.contacts-text__form {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  display: flex;
  flex-direction: column;
}

.contacts-text__form .general-btn {
  align-self: flex-end;
}

@media screen and (max-width: 960px) {
  .contacts-text__form {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}

.form-name, .form-email {
  font-family: "gothambook";
  font-weight: 400;
  font-size: 18px;
  color: #2c4058;
  border: none;
  outline: none;
  border-bottom: 1px solid #2c4058;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.form-name:focus, .form-email:focus {
  opacity: 1;
}

.form-email {
  opacity: 0.5;
}

.footer {
  background: url("../img/footer/footer_bg.png"), no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer-wrapper {
  width: 50%;
  margin: 250px 0 200px;
}

@media screen and (max-width: 960px) {
  .footer-wrapper {
    margin: 500px 0 100px;
  }
}

@media screen and (max-width: 568px) {
  .footer-wrapper {
    margin: 600px 0 60px;
    width: 80%;
  }
}

.footer-info {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
}

@media screen and (max-width: 1320px) {
  .footer-info {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 720px) {
  .footer-info {
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
  }
}

.footer-social {
  display: flex;
  justify-content: space-between;
  grid-column-start: 3;
  grid-column-end: 4;
}

@media screen and (max-width: 720px) {
  .footer-social {
    grid-column-start: 1;
    grid-column-end: 2;
    gap: 20px;
  }
}

.footer-copy {
  font-family: "gothambook";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  margin-top: 40px;
  line-height: 20px;
}

.footer-copy__name {
  margin-right: 40px;
  position: relative;
}

.footer-copy__name::after {
  content: "";
  width: 1px;
  height: 100%;
  background: #ffffff;
  position: absolute;
  right: -20px;
}
/*# sourceMappingURL=style.css.map */