* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a, a:visited {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

$white: #ffffff;
$violet: #b29cff;
$purple: #7f64fb;
$black: #2c4058;
$gray: #4b5562;
$blue: #55b7ff;

.general-title {
    @include font('gothambold', 700, 44px, null, $black, uppercase);
    text-align: center;
    margin: 140px 0 100px;
    position: relative;

    &::before {
        content: '';
        height: 1px;
        width: 10%;
        background: $black;
        position: absolute;
        top: -40px;
        left: 50%;
        margin-left: -5%;

        
    }
}

.general-btn {
    @include font('gothambook', 400, 14px, null, $black, uppercase);
    border: 1px solid $black;
    padding: 20px 45px;
    background: none;
}