.app-header {
    background: url('../img/header/bg_header.png'), no-repeat;
    background-size: cover;
    background-position: center;
    
}

.nav {
    display: grid;
    grid-template-columns: 1fr 3.5fr 1fr;
    
    @media screen and (max-width: 568px) {
        padding: 10px 0;
    }
}

.nav-logo {
    margin-right: 50px;

    @media screen and (max-width: 960px) {
        margin: 0;
    }

    @media screen and (max-width: 568px) {
        width: 145px;
        height: auto;
    }
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
    
    @media screen and (max-width: 960px) {
        display: none;
    }

    &__item {
        padding: 5px;
        width: 100%;
    }

    &__link {
        @include font('gothambook', 400, 14px, null, $white, uppercase);

        &::before {
            content: url('../img/header/Ellipse1.png');
            margin: 0 10px;
        }

        &:hover::before {
            content: url('../img/header/Ellipse_fill.png');
        }

        @media screen and (max-width: 960px) {
            width: 100%;
            display: block;
            padding: 30px;
        }
    }
}

.nav-social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin-left: 30px;

    &__item {
        border: 1px solid $violet;
        padding: 10px;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        

        &:hover {
            background: $white;
            color: $violet;
        }

    }
    
    &__link {
        color: $white;
        font-size: 16px;
    }
}

.nav-btn {
    position: fixed;
    right: 0;
    display: none;
    border: none;
    font-size: 30px;
    background: $purple;
    color: $white;
    text-align: center;
    width: 42px;
    height: 42px;

    &:active {
        background: $white;
        color: $violet;
        transition-timing-function: 10s;
    }

    @media screen and (max-width: 960px) {
        display: grid;
        grid-row-start: 1;
        grid-column-start: 3;
        justify-self: flex-end;
    }
}

.active {
    display: grid;
    position: fixed;
    right: 0;
    top: 56px;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    align-items: flex-end;
    background: $purple;
}

.header-title {
    @include font('gothambold', 700, 80px, 4px, $white, uppercase);
    text-align: center;
    margin: 250px 0 30px;

    @media screen and (max-width: 568px) {
        font-size: 50px;
        margin: 100px 0 30px;
    }
}

.header-subtitle {
    @include font('gothambook', 400, 18px, 5px, $white, uppercase);
    text-align: center;
    padding-bottom: 310px;
}